{% extends 'main.html' %}
{% block content%}
<section class="p-5">
    <div class="container">
        <div class="row text-center">
            {% for forecast in forecast_data %}

            <div class="col">
            <img src="http://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="Image">

            </div>
                <p>
                        <span class="title">{{ forecast.city }}</span>
                        <br>
                        <span class="subtitle">{{ forecast.temperature }}° F</span>
                        <br> {{ forecast.description }}
                    </p>

            {% endfor %}
    </div>

    </div>
</section>

{% endblock %}